@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-retrotech: var(--font-retrotech);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-retrotech), system-ui, sans-serif;
  overflow: hidden;
  scrollbar-width: 0;
  box-sizing: border-box;
}
